header, footer, hgroup,
div.nav, section {
    display: block;
}

div.login
{
    text-align:right;
    padding:7px;
    color: #FFFFFF;
}

.submenu ul li a, div.login a, .dropdown
{
    color: #FFFFFF;
    font-size:0.9em;
    text-decoration:none;
}

.dropdown
{
    background:#444444;
    border:none;
    outline:none;
}

div.nav ul.topnav {
    float: right;
    font-size: 1.2em;
    list-style: none;
    margin: 0;
}

    div.nav ul.topnav li.main-li {
        float: left;
        margin-right: 10px;
    }
   
div.nav ul.topnav li.main-li a.main-link, 
div.nav ul.topnav li.main-li a.main-link:visited
{
    color: #f6f6f6;
    padding:2px 5px 3px 5px;
    display:block;
    text-decoration: none;
}

div.nav ul.topnav li.main-li a.main-link:hover
{
    color: #99cc00;
    text-decoration:underline;
}

div.nav ul.topnav li.main-li a.main-link:active
{
    color: #cfdbe6;
    text-decoration: none;
}
 
.header{
	background:url(../images/nav-bg.png) repeat-x top;
	min-height:60px;
	width:100%;
	min-width:960px;
	box-shadow: 0 0px 4px #666666;
	-moz-box-shadow: 0 0px 4px #666666;
	-webkit-box-shadow: 0 0 4px #666666;	
	position:fixed;
	top:0;
	left:0;
	z-index:900;
}

.head-content
{
    max-width: 970px;
    margin: 0 auto;
}

.logo 
{
    float:left;
    border:none;
}

.mainLinks
{
    border:1px solid #000;
}

.sidebar
{
    border:1px solid;
    float:right;
    margin: 12px 8px;
    min-height:700px;
    width:290px;
    border:1px solid #f4f4f4;
}



.margin-left
{
    margin-left:20px;
}




/* AutoComplete Search  */

div#search 
{
    margin: 10px auto;
    max-width:250px;
    min-height:35px;
    color:#FFFFFF;
}


input.searchEntry 
{
    font-size: 0.90em;
	height:35px;
	padding:0 0 0 20px;
	border:none;
	width:250px;
	background:url(../images/search_box_page.png) no-repeat 0px 0px;
	float:left;
	outline:none;
}

.rating
{
    float:right;
    position:relative;
    top:2px;
    right:2px;
}

.thumb
{
    float:left;
    position:relative;
}

.searchtitle
{
    font-size:16px;
    text-decoration-color:blue;
}

.searchcenter
{
    position:absolute;
    left:40px;
    width:200px;
}


.thumb ui-corner-all
{
    width:inherit;
}


.ui-widget-content
{
    background-color:white;
    border:2px solid #999999;
    border-radius:0.5em;
}

/**/





.sideContentHolder
{
    margin: 20px 10px;
    min-height: 200px;
    webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
    -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
    -o-text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
    -moz-box-shadow: 0px 0px 3px #666666;
    -webkit-box-shadow: 0px 0px 3px #666666;
    box-shadow: 0px 0px 3px #666666;
    -o-shadow: 0px 0px 3px #666666;    
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fcfcfc', endColorstr='#eeeeee'); /* IE6 & IE7 */
    background-image: -moz-linear-gradient(top, #fcfcfc, #eeeeee); /* Firefox 3.6 */
    background-image: -o-linear-gradient(top, #fcfcfc, #eeeeee); /* opera */
    background-image: linear-gradient(top, #fcfcfc, #eeeeee);
    background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0, #fcfcfc),color-stop(1, #eeeeee)); /* Safari & Chrome */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#eeeeee)); /* for webkit browsers */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fcfcfc', endColorstr='#eeeeee')"; /* IE8 */
}

.sideContentHolder h4
{
    margin:0px 4px;
    padding:8px 6px;
    font-weight:bold;
}

.sideContentHolder h4 a
{
    float: right;
    font-size:13px;
    color:#155FB0;
    font-weight:normal;
}

div.featured
{
    -moz-box-shadow: 0px 0px 2px #999999;
    -webkit-box-shadow: 0px 0px 2px #999999;
    box-shadow: 0px 0px 2px #999999;
    -o-shadow: 0px 0px 2px #999999; 
    border:6px solid #dddddd;
    padding-bottom:10px;
}

div.featured > h5
{
    font-weight:bold;
    margin:0;
    padding:5px 20px;
}

div.featured img
{
    margin:0 0 20px 20px;
}

div.content
{
    padding:5px 10px;
    webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    border-radius: 0.5em;
    min-height:200px;
    border:1px solid #cccccc;
    margin:15px 0;
}

div.content > h2
{
    margin:8px 0;
}

div.short-description
{
    margin-left:180px;
    height:266px;
}

img.det-image
{
    float:left;
    width:180px;
    height:266px;
}

.movie-summary img.pro-image
{
    float:left;
    width:120px;
    height:178px;
}
.movie-details img.pro-image
{
    float:left;
    width:180px;
    height:266px;
}

.movie-summary div.pro-description
{
    margin-left:120px;
    min-height:170px;
    padding:6px 14px;
}

.movie-details div.pro-description
{
    margin-left:180px;
    min-height:170px;
    padding:6px 14px;
}

div.pro-description h4, .theatre-header
{
    color: #0066FF;
    font-size: 1.4em;
    margin: 0 0 4px 0;
}

div.pro-description span
{
    border: thin solid #CC9900;
    padding: 2px;
    font-size: 1.1em;
    color: #CC9900;
    display:inline-block;
    font-weight: bold;
}

div.pro-description .synopsis
{
    margin-bottom:5px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.movie-details .synopsis
{
    margin-bottom:5px;
    padding-top:10px;
    border-top:1px dotted #cccccc;
}
    
img.content-thumb
{
    margin:5px 5px;
    width:120px;
    height:178px;
}

.movie-details a, .movie-summary a, .sideContentHolder table a
{
    text-decoration:none;
}

#upcoming-holder img
{
    max-height:80px;
}

.movie-summary
{
    border-bottom: thin solid #cccccc;
    padding-bottom:20px;
    margin-bottom:20px;
}

.movie-details
{
    padding:20px 10px;
    margin-bottom:20px;
}


/* SUBMENU
----------------------------------------------------------*/

.submenu
{
    position: absolute;
    z-index: 100;
    top:60px;
    width: 150px;
    display:none;
    padding: 5px;
    background:#242424;
    opacity:0.95;
}

ul.root
{
    list-style:none;
    margin:0px;
    padding:0px;
}

.submenu li a:hover
{
    background:#99cc00;
    color: #FFFFFF;
    text-decoration: none;
}

.submenu ul li a 
{
    color: #FFFFFF;
    font-size:0.8em;
    padding: 3px 15px;
    cursor: pointer;
    text-decoration:none;
    display: block;
}

b.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #FFFFFF;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-top: 8px;
  margin-left: 2px;
}


/* PAGING LINKS
----------------------------------------------------------*/

.pagination_links {
	display:block;
	text-align:left;
	min-height:2px;
	line-height:21px;
	clear:both;
	padding-top:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
}

.pagination_links a:link, .pagination_links a:visited{
	padding:6px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #cccccc;
	margin-right:5px;
	text-decoration:none;
	background-color:#F5F5F5;
	width:20px;
	font-weight:normal;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.pagination_links a:hover {
	background-color:#FDE48E;
	border:1px solid #FE980E;
	color:#7D004B;
}

.pagination_links .active_pagination_link
{
    padding: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #0066FF;
    margin-right: 5px;
    margin-left: 1px;
    text-decoration: none;
    background-color: #0066FF;
    color: #f4f4f4;
    font-weight: bold;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.pagination_links .disabled_pagination_links {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-right:1px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#D7D7D7;
	cursor:default;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
